# Dependency directory
node_modules/

# clasp
.clasprc.json
.clasp.json
.clasp-prod.json
.clasp-test.json

# OS files
.DS_Store
Thumbs.db

# ZIP archives
*.zip

# Editor files
.vscode/
*.swp
*.swo
*~
resources/
